{% load static %}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div id="side_bar">
            <a class="btn btn_side" href="/greenhouse/records">Records</a>
            <a class="btn btn_side" href="/greenhouse/config">Configuration</a>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>