{% extends "base.html" %}

{% block title %}Configuration{% endblock %}

{% block page_header %}Parameter Configuration{% endblock %}

{% block content %}
    <div class="form_div">
        <form class="form" id="config_form" action="/greenhouse/config" method="post">
            {% csrf_token %}
            {% for parameter, default_perf, default_error in parameters %}
                <div class="parameter_conf">
                    <label for="{{ parameter }}_perf">{{ parameter }}_per</label><input type="number" name="{{ parameter }}_perf" id="{{ parameter }}_perf" value="{{ default_perf }}" required>
                    <label for="{{ parameter }}_error">{{ parameter }}_error</label><input type="number" name="{{ parameter }}_error" id="{{ parameter }}_error" value="{{ default_error }}" required>
                </div>
            {% endfor %}
            <button class="btn" type="submit">Set Parameters</button>
        </form>
    </div>
{% endblock %}