{% extends "base.html" %}

{% block title %}Records{% endblock %}

{% block content %}
    <div class="form_div">
        <form  id="search_form" action="/greenhouse/records" method="post">
            {% csrf_token %}
            <select id="form_input_options" name="form_input_options" required>
                <option value="id">Sensor ID</option>
                <option value="date">Date</option>
            </select>

            <input type="number" name="search_input" id="search_input" required>
            <button class="btn" type="submit">Filter</button>
        </form>
        <a class="btn" href="/greenhouse/records">Reset Filter</a>
    </div>

    {% if filtered %}
        <h3 class="filter_info">{{ info }}</h3>
    {% endif %}

    <div id="records_list">
        {% if records %}
            <table>
                <tr>
                    <th>Sensor ID</th>
                    <th>Date</th>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Soil Moisture</th>
                    <th>CO2</th>
                </tr>

                {% for record in records %}
                    <tr>
                        <td>{{ record.sensor_id }}</td>
                        <td>{{ record.date }}</td>
                        <td>{{ record.temperature }}</td>
                        <td>{{ record.humidity }}</td>
                        <td>{{ record.soil_moisture }}</td>
                        <td>{{ record.co2 }}</td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <h2>No records found</h2>
        {% endif %}
    </div>

    {% load static %}
    <script src="{% static 'js/records_script.js' %}" defer></script>
{% endblock %}